table.tableStyle {
    width: 96%;
    padding: 0px;
    margin-left: 2%;
    margin-right: 2%;
    border-collapse: collapse;
    background-color: #FDF0B6;

    th {
        border-bottom: 1px solid;
    }

    td {
        border-bottom: 1px solid;
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #f7e4b1;
    }

    tr:hover {
        background-color: #ecdd51;
    }

    .trThStyle {
        background-color: white;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .lastTrStyle {
        background-color: #cccccc;
    }
}